{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 150px;	
		}
	</style>
{% endblock head %}
{% block meta %}



	<meta itemprop="image" content="{{pokemon.pokemon_image}}">

	<meta property="og:title" content="{{pokemon.pokemon_name}} Pokemon"/>
	<meta property="og:description" content="pokemon search"/>
	<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
	<meta property="og:site_name" content="http://still-taiga-19362.herokuapp.com/"/> 

	<meta property="og:url" content="http://still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
	<meta property="article:author" content="http://facebook.com/jainy74" />
	<meta property="article:publisher" content="https://www.facebook.com/jainy74"/>

	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jainy74" />
	<meta name="twitter:title" content="{{pokemon.pokemon_name}} Pokemon" />
	<!-- <meta name="twitter:description" content="" /> -->
	<meta name="twitter:description" content=""/>
	<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />
{%endblock meta%}


{% block content %}

	<h1>You Searched for {{pokemon.pokemon_id}} {{pokemon.pokemon_name}} </h1>
	<div class='row'>

		<div class='col-md-6'>
			<img src="{{pokemon.pokemon_image}}">
		</div>
		<div class='col-md-6'>
			<!-- <button class='btn btn-success'><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}">Share on Facebook</a></button> -->

			<a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u=http%3A//still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}"><button class='btn btn-success'>Share on Facebook</button></a>

			<a target='_blank' href="https://twitter.com/home?status=YO CHECK THIS OUT http%3A//still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}"><button class='btn btn-primary'>Share on Twitter</butoon></a>

			<a target='_blank' href="https://plus.google.com/share?url=http%3A//still-taiga-19362.herokuapp.com/pokemon/309/Jolteon"><button class='btn btn-warning'>Share on Google+</button></a>
		</div>
	</div>

	

	



{% endblock content %}





