{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		
		#score{
			font-weight: bolder;
			font-size: 1000%;
		}

		body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}
	</style>
{% endblock head %}
{% block meta %}



	<meta itemprop="image" content="{{correct_pokemon.pokemon_image}}">

	<meta property="og:title" content=" Pokemon game"/>
	<meta property="og:description" content="correct pokemon search"/>
	<meta property="og:image" content="{{correct_pokemon.pokemon_image}}"/> 
	<meta property="og:site_name" content="http://still-taiga-19362.herokuapp.com/"/> 

	<meta property="og:url" content="http://still-taiga-19362.herokuapp.com/pokemon/{{correct_pokemon.id}}/{{correct_pokemon.pokemon_name}}" />
	<meta property="article:author" content="http://facebook.com/jainy74" />
	<meta property="article:publisher" content="https://www.facebook.com/jainy74"/>

	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jainy74" />
	<meta name="twitter:title" content="{{correct_pokemon.pokemon_name}} Pokemon" />
	<!-- <meta name="twitter:description" content="" /> -->
	<meta name="twitter:description" content=""/>
	<meta name="twitter:image" content="{{correct_pokemon.pokemon_image}}" />
{% endblock meta %}


{% block content %}

	
	
	<div class='row'>
		<div class="col-md-4 col-md-offset-2">
		
			<h3 id="head">What is the name of the pokemon? </h3>
			<br>
			<a target="_blank"href="http://still-taiga-19362.herokuapp.com/pokemon/{{correct_pokemon.id}}/{{correct_pokemon.pokemon_name}}"><img id="image" src="{{correct_pokemon.pokemon_image}}"></a> <br>
			<br>
			{% for pokemon in poke_list %}
			<button class ="btn btn-primary option" id="{{pokemon}}" data="{{pokemon}}" onclick="judge(this)">{{pokemon}}</button>
			{% endfor %}

			<button class ="btn btn-primary option" id="play">PLAY AGAIN</button>
		</div>
		<div class="col-md-3 col-md-offset-3" >

			<div id="score">{{score}}</div>
			<h1 id="counter"></h1>

			<a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u=http%3A//still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}"><button class='btn btn-success'>Share on Facebook</button></a><br><br>

			<a target='_blank' href="https://twitter.com/home?status=YO CHECK THIS OUT http%3A//still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}"><button class='btn btn-primary'>Share on Twitter</button></a><br><br>

			<a target='_blank' href="https://plus.google.com/share?url=http%3A//still-taiga-19362.herokuapp.com/pokemon/309/Jolteon"><button class='btn btn-warning'>Share on Google+</button></a><br><br>

			<a id="whatsapp" target='_blank' href="whatsapp://send?text=Hey, check this out {{pokemon.pokemon_name}} http%3A//still-taiga-19362.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}&title=Pokemon&summary=&source="><button class='btn btn-primary'>Share on Whatsapp</button></a>


		</div>
	</div>

<div id ="secs"></div>

{% endblock content %}



{% block scripts %}
	<script type=" text/javascript">
			
		function judge(e){
			console.log(e.getAttribute('data')+'={{correct_pokemon.pokemon_name}}');
			if(e.getAttribute('data')=='{{correct_pokemon.pokemon_name}}'){
				console.log('correct answer')
				console.log('Now redirecting')
				var score= document.getElementById("score").innerHTML;
				score=parseInt(score)+10;
				window.location.href="/game?score="+ score;
			}
			
			else{
				console.log('wrong answer')
			
			}

		};
		function countdown() {
        function timer() {
            var counter = document.getElementById("counter");
            var secs= document.getElementById("secs")
            secs--;
            counter.innerHTML = "0:" + (secs< 10 ? "0" : "") + String(secs);
            if( secs > 0 ) {
                setTimeout(timer, 1000);
            } else {
                
            }
        }
        timer();
    }
	

	</script>


{% endblock scripts %}




