{% extends "search/base.html" %}

{% block head %}
	<title> {{date}} </title>
	<style type="text/css">
		img{
			width: 150px;	
		}
	</style>
{% endblock head %}
{% block meta %}



	<meta itemprop="image" content="{{correct_pokemon.pokemon_image}}">

	<meta property="og:title" content=" Pokemon game"/>
	<meta property="og:description" content="correct pokemon search"/>
	<meta property="og:image" content="{{correct_pokemon.pokemon_image}}"/> 
	<meta property="og:site_name" content="http://still-taiga-19362.herokuapp.com/"/> 

	<meta property="og:url" content="http://still-taiga-19362.herokuapp.com/pokemon/{{correct_pokemon.id}}/{{correct_pokemon.pokemon_name}}" />
	<meta property="article:author" content="http://facebook.com/jainy74" />
	<meta property="article:publisher" content="https://www.facebook.com/jainy74"/>

	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@jainy74" />
	<meta name="twitter:title" content="{{correct_pokemon.pokemon_name}} Pokemon" />
	<!-- <meta name="twitter:description" content="" /> -->
	<meta name="twitter:description" content=""/>
	<meta name="twitter:image" content="{{correct_pokemon.pokemon_image}}" />
{% endblock meta %}


{% block content %}

	<h1>What is the name of the pokemon? </h1>
	<img src="{{correct_pokemon.pokemon_image}}">

	



{% endblock content %}

{% block scripts %}
	<script type=" text/javascript">
		
		$(document).ready(function(){

		

		}


			);
	

	</script>

{% endblock scripts %}




